@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@200;400;500;700&display=swap');
@font-face {
  font-family: 'AZONIX';
  src: url('../public/Azonix.otf');
}

body {
  height: 100vh;
  background: white;
}

:root {
  --white: #fff;
}

* {
  box-sizing: border-box;
}

mark {
  transform: translate3d(0, 0, 0);
}

.outer-container .carousel-wrapper {
  background: var(--orange);
  display: flex;
  flex-direction: column;
}

.carousel-inner {
  position: relative;
  max-height: 340px;
  height: 340px;
}

/* .carousel-inner::before,
.carousel-inner::after {
  content: '';
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100px;
  pointer-events: none;
} */

.carousel-inner::before {
  top: 0;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 0%,
    rgb(255, 255, 255) 100%
  );
}

.carousel-inner::after {
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    hsla(0, 0%, 100%, 0) 100%
  );
}

.carousel-item {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  top: 112px;
}

.carousel-item.visible {
  opacity: 0.4;
  transition: transform 0.4s ease, opacity 0.6s ease;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item.active h2 {
  opacity: 1;
  color: #6c87de;
  font-weight: 800;
}

.carousel-item.active p {
  opacity: 1;
  font-weight: 500;
}
